@import url("animation.css");

/*universal selector for resetting*/
* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: helvetica;
  text-align: center;
  //font-size: 16px;
  text-transform: uppercase;
}

/*universal selctor for resetting*/

/* for extra small screen*/

body {
  background: #050A19;
}

#content {
  max-width: 95%;
  margin: 0px auto;
  position: relative;
}

/* header rules starts */

header {
  background: black;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

/*logo starts*/
#logop {
  width: 70px;
  height: 70px;
  position: absolute;
  background: url(../images/logo.svg) no-repeat 50% 50% / cover;
  text-indent: -100000px;
  top: 25%;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

#logop:hover {
  box-shadow: 2px 2px 10px 2px skyblue, -2px -2px 10px 2px skyblue,
    inset -2px -2px 10px 2px #00ffff, inset 2px 2px 10px 2px skyblue;
}

/*logo ends*/

/* header social universal starts */
header #social {
  display: none;
  border: 2px solid skyblue;
  position: absolute;
  right: -130px;
  top: 29%;
  box-shadow: 2px 2px 5px 1px skyblue, -2px -2px 5px 1px skyblue;
  transform: skew(-20deg);
  background: linear-gradient(-180deg,
      rgba(0, 255, 255, 0.3) 10%,
      transparent 80%,
      rgba(0, 255, 255, 0.5));
  transition: all 0.8s ease-in-out;
}

/* header social ends */
#cross {
  display: block;
  position: absolute;
  top: -5px;
  right: -30px;
  background: transparent;
  border: none;
  box-shadow: none;
}

/*hamburger/ collapse button starts*/

.collapse-button {
  display: block;
  max-width: 40px;
  height: 40px;
  position: relative;
  top: 13px;
  right: -90%;
}

.collapse-button span {
  display: block;
  margin: 20% auto;
  width: 80%;
  height: 2px;
  background: skyblue;
  opacity: 0.9;
}

/*hamburger/ collapse  button ends*/

/* header rules ends */
/*	 navbar starts*/

.navbar {
  display: block;
}

/*navbar ends*/
/* main rules starts */
main {
  position: relative;
  background: black;
  /* animation: background 6s linear infinite; */
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  color: skyblue;
  height: 330px;
  /* padding:20px */
}

main #rotatep {
  transform-origin: center;
  transform-style: preserve-3d;
  perspective: 1000000px;
  width: 100%;
  min-height: 300px;
  margin: auto 0px;
  position: relative;
  top: 5%;
  transform: rotate3d(0, 1, 0, 0deg);
  //border:2px solid lime;
  transform-origin: 0px 50%;
  font-size: 1.5em;
  /* Increased font size */
}

/* #rotatep:hover {
  animation-play-state: paused;
} */
/* after the click event in the main */
.rotate {
  animation: rotate 5s linear infinite;
}

/* after the click event in the main */
main .rotch {
  overflow: hidden;
  transform-origin: 0% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 2px solid skyblue;
  //backface-visibility:hidden;
  box-shadow: inset 2px 2px 5px 1px skyblue, inset -2px -2px 5px 1px skyblue;
  background: linear-gradient(45deg,
      transparent 1%,
      transparent,
      rgba(0, 255, 255, 0.6));
}

#rotatep .one {
  transform: rotate3d(0, 1, 0, 0deg);
  padding-top: 100px;
}

#rotatep .two {
  background: ;
  transform: rotate3d(0, 1, 0, 90deg);
  padding-top: 100px;
}

#rotatep .three {
  background: ;
  transform: rotate3d(0, 1, 0, 180deg);
  padding-top: 100px;
}

#rotatep .four {
  background: ;
  transform: rotate3d(0, 1, 0, 270deg);
  padding-top: 100px;
}

.rotch .underline {
  transform-origin: 0% 0%;
  position: absolute;
  left: 100%;
  height: 10px;
  width: 80%;
  background: aqua;
  //transform:rotate(300deg);
}

.rotch:hover .underline {
  animation: flick 0.1s ease-in forwards;
}

@keyframes flick {
  0% {
    transform: rotate(40deg);
    left: 10%;
  }

  100% {
    transform: rotate(0deg);
    left: 10%;
  }
}

/* main rules ends */
/*rules for the aside*/

aside {
  padding: 15px 0px 15px 0px;
  overflow: hidden;
  position: relative;
  color: skyblue;
  transform-style: preserve-3d;
  perspective: 300px;
  box-shadow: inset 2px 2px 5px 1px skyblue, inset -2px -2px 5px 1px skyblue;
  background: rgba(0, 0, 0, 0.5);
}

.asidewpr {
  padding: 10px;
  //transform-style:preserve-3d;
  perspective: 30000px;
  position: relative;
  margin: 0px auto;
  //height:80%;
  width: 70%;
  box-shadow: inset 0px 1px 20px 2px skyblue, 1px 1px 20px 5px skyblue;
  overflow: hidden;
  transform-origin: 50% 0%;
  transform: rotate3d(1, 0, 0, -30deg);
}

aside:hover .asidewpr {
  animation: dangle 1s linear infinite;
}

/*rules for the aside*/

/* rules for the class after the onclick event*/

.show {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 33;
}

.show ul li {
  display: block;
  width: 100%;
}

.show ul a {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid skyblue;
  color: skyblue;
  box-shadow: inset 0px 1px 20px 2px skyblue;
  border-radius: 0px 0px 100% 100%;
}

.show #sub ul {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 26%;
  //display:none;
  visibility: hidden;
  z-index: 99;
  width: 200px;
}

.show #sub:hover ul {
  top: 40px;
}

/*class after the onclick event ends*/

/* navbar div strats */
.navbar {
  box-shadow: inset 1px 1px 10px 2px skyblue, inset -1px -1px 10px 2px skyblue,
    0px 2px 12px 1px;
  background: #000;
}

nav {
  display: none;
}

nav>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  background: linear-gradient(180deg,
      rgba(0, 255, 255, 0.5) 1%,
      transparent 90%,
      skyblue);
  display: block;
  padding: 10px;
  color: #fff;
  min-width: 100px;
  border-left: 3px groove skyblue;
  border-right: 3px groove skyblue;
  transition: all 300ms linear;
  box-shadow: inset 0px 1px 20px 2px skyblue;
}

nav a:hover {
  text-shadow: 1px 1px 2px skyblue, -1px -1px 2px skyblue;
  box-shadow: inset 1px 1px 10px 2px skyblue;
}

#sub ul {
  width: 100%;
  position: absolute;
  transform-origin: 0px 0px;
  transform: rotate3d(0, 1, 0, 70deg);
  transition: all 0.2s ease-in;
  padding: 0px;
  margin: 0px;
  top: 140%;
  opacity: 0;
  visibility: hidden;
  //display:none;
  z-index: 99;
  transform-style: preserve-3d;
  perspective: 25px;
}

#sub:hover ul {
  transform: rotate3d(0, 0, 0, 0deg);
  top: 100%;
  visibility: visible;
  opacity: 1;
}

#sub ul a {
  transform: rotate3d(1, 0, 0, 40deg);
}

#sub:hover a {
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}

/* navbar div ends */
.slider {
  display: block;
  position: relative;
  padding: 30px;
}

/* hud rule starts */

.hudp {
  display: block;
}

/* hud rule endss */

/* paralax rule starts */
.paralax {
  display: block;
  width: 100%;
  height: 270px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.paralax .p {
  position: absolute;
  padding: 50px;
  height: 250px;
  border: 1px solid black;
}

#para {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 270%;
  background: url(../images/cor.jpg) no-repeat center / cover;
}

.layer2 {
  color: aqua;
  left: -30px;
  background: rgba(155, 0, 0, 0.2);
  transform: skew(-10deg);
  width: 60%;
}

.layer3 {
  color: aqua;
  right: -30px;
  background: rgba(0, 155, 0, 0.2);
  transform: skew(-10deg);
  width: 50%;
}

/* paralax rule ends */

/*rules fot the footer*/

footer {
  background: url(../images/net.jpg) no-repeat center / cover;
  position: relative;
}

footer .list {
  width: 100%;
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.7);
}

footer .list li {
  color: aqua;
  transition: all 0.5s linear;
  padding: 5px;
  font-size: 12px;
  border-top: 3px solid #777;
  border-bottom: 3px solid #777;
  border-radius: 30px;
  margin-bottom: 2px;
}

footer .list li:hover {
  border-top: 3px solid aqua;
  border-bottom: 3px groove skyblue;
  border-radius: 30px;
}

/* footer social starts */
footer #social {
  display: block;
  overflow: hidden;
}

footer #social ul {
  display: flex;
  //flex-direction: column;
  flex-flow: row;
  justify-content: space-around;
}

footer #social ul a {
  color: white;
  font-size: 20px;
}

/* footer ul social */

#copy {
  background: black;
  color: aqua;
  padding: 20px;
}

/*rules for the footer ends*/

#totop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: 2px solid skyblue;
  color: skyblue;
  cursor: pointer;
  padding: 5px;
  display: none;
  border-radius: 50% 50% 0px 0px;
  transition: all 0.1s linear;
}

#totop:hover {
  background: black;
  box-shadow: 2px 2px 12px 1px skyblue, -2px -2px 12px 1px skyblue;
}

/* universal rules ends */

/*media qusry starts*/

@media (min-width: 576px) {


  nav {
    display: block;
  }

  #sub {
    position: relative;
  }

  #sub:hover ul {
    position: absolute;
    left: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
  }

  /*    grid rules starts*/
  #content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
    max-width: 100%;
    margin: 0px auto;
    position: relative;
  }

  /* header rules starts */

  header {
    grid-column: 1/7;
    grid-row: 1/2;
    padding: 70px;
    box-sizing: border-box;
    position: relative;
  }

  header #social:hover {
    right: -12px;
  }

  header #social:after {
    content: "";
    width: 10px;
    height: 30px;
    left: -15px;
    top: 15%;
    background: linear-gradient(180deg, transparent, skyblue);
    position: absolute;
    z-index: -1;
    box-shadow: 2px 2px 5px 1px skyblue, -2px -2px 5px 1px skyblue;
  }

  header #social ul {
    transform: skew(20deg);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  header #social a {
    color: skyblue;
    padding: 10px;
    border: 2px groove skyblue;
    border-radius: 20%;
  }

  header #social a:hover {
    text-shadow: 7px 4px 9px skyblue, -7px -4px 9px skyblue;
  }

  /*social starts*/

  #cross {
    display: none;
  }

  /*social starts*/
  header #social {
    display: block;
  }

  /*social ends*/

  .collapse-button {
    display: none;
  }

  nav.show {
    display: none;
  }

  /*   after the  on scroll event   // for the fixed navbar*/

  .fixed {
    display: block;
    transition: all 0.3s linear;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999999999999;
    border-radius: 0px 0px 50% 50%;
    box-shadow: inset 1px 1px 10px 2px skyblue, inset -1px -1px 10px 2px skyblue,
      0px 2px 12px 1px;
    background: black;
  }

  .fixed nav #firsta {
    padding: 8px;

    border-radius: 0px 0px 0px 40px;
  }

  .fixed nav #lasta {
    padding: 8px;

    border-radius: 0px 0px 40px 0px;
  }

  /*        for the fixed navbar*/

  /* for the header  ends*/
  main {
    grid-column: 3/7;
    grid-row: 3/6;
    //background: #000;
    animation: background 6s linear infinite;
    overflow: hidden;
    position: relative;
  }

  .navbar {
    grid-column: 1/7;
    grid-row: 2/3;
  }

  aside {
    grid-column: 1/3;
    grid-row: 3/6;
    position: relative;
  }

  .hudp {
    grid-column: 1/7;
    grid-row: 6/9;
    position: relative;
  }

  .paralax {
    grid-column: 1/7;
    grid-row: 9/10;
  }

  footer {
    grid-column: 1/7;
    grid-row: 13 / auto;
    position: relative;
  }

  /*grid ends*/

  /*rules fot the footer*/

  #footer-div {
    display: flex;
    flex-wrap: nowrap;
  }

  footer .list {
    padding: 10px;
    width: 33.3%;
    background: rgba(0, 0, 0, 0.5);
  }

  footer .list li {
    background: linear-gradient(45deg, transparent 75%, #555);
    transition: all 0.7s linear;
    padding: 5px;
    font-size: 12px;
    border-top: 3px groove #777;
    border-bottom: 3px solid transparent;
    border-radius: 30px;
    margin-bottom: 2px;
  }

  footer #social {
    display: none;
  }

  /*rules fot the footer  ends*/
}

/* first media query ends */